<nav>
  <div class = 'nav_item' >
      <%= link_to 'Home', '/', class: 'nav_item_el' %>
  </div>

  <div class = 'nav_item' >
      <%= link_to 'Login/Sign-up', new_user_session_path, class: 'nav_item_el' %>
  </div>
  <% if user_signed_in? %>
   <div class = 'nav_item' >
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav_item_el' %>
  </div>
  <% end %>
</nav>