<div class= 'user'>
      <div class = 'user_image'>
        <img src ="<%= @user.photo %>" alt= 'User image' />
      </div>

      <div class = 'user_info'>
        <h1> <%= @user.name %> </h1>
        <p>Number of posts: <%= @user.posts_counter %>  
        
         |
        <button> 
          <%= link_to 'Add Post', new_user_post_path(@user.id) %> 
        </button>
         
        </p>
      </div>
</div>
