nav {
  display: flex;
  gap: 20px;
  padding-top: 25px;
  font-size: 1.2em;

  .nav_item {
    &_el:hover {
      color: $hover-text;
    }
  }
  .username {
    font-size: 1.3em;
    font-weight: bold;
  }
}
