@mixin flash_msg($bg, $color) {
  background-color: $bg;
  color: $color;
  padding: 10px;
  width: 350px;
  margin: 20px auto;
  border-radius: 8px;
  font-size: $medium_font;
  text-align: center;
}
